<nav>
    <div class="nav-wrapper indigo accent-4">
        <ul class="left hide-on-med-and-down">
            <li><a class="btn grey lighten-3 black-text" href="/">Inicio</a></li>
            <li><a class="btn grey lighten-3 black-text" href="/mensajes/top5">+ Comentados</a></li>
            <li><a class="btn grey lighten-3 black-text" href="/mensajes/palabras">Palabras + Repetidas</a></li>
            <li><a class="btn grey lighten-3 black-text" href="/mensajes/crear">Nuevo mensaje</a></li>
            <li><a class="btn yellow lighten-3 black-text" href="/login">Login</a></li>
            <li><a class="btn green lighten-3 black-text" href="/registro">Registrarme</a></li>
            <li>
                <form action="/logout" method="post">
                    <button type="submit" name="submit" value="logout" class="btn red lighten-3 black-text">Salir</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
