<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css">
    <meta charset="UTF-8">
    <title>Entrega3</title>
</head>
<body>
<% include nav.ejs %>

<div class="container">
    <div class="row">
        <h4>Palabras + Repetidas: </h3>
        <div class="col s8 offset-s2">
            <ol>
                <% palabras.forEach(function(palabra) { %>
                    <li>
                        <a href="/mensajes/keyword/<%= palabra._id %>">
                            <div class="chip <%= colorGenerator() %>">
                                (<%= palabra.value %>)
                                <b><%= palabra._id %></b>
                            </div>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/materialize/dist/js/materialize.min.js">
</script>
</body>
</html>
